@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/grid/columns.sass";

body,
html,
#root,
.App,
#app,
.columns,
.column {
  height: 100%;
  font-family: sans-serif;
}

.menu-scroll {
  max-height: 100%;
  overflow: scroll;
}
