@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/grid/columns.sass";
@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto");

body,
html,
#root,
.App,
#app,
.columns,
.column {
  height: 100%;
  font-family: "Raleway", sans-serif;
}

.menu-scroll {
  max-height: 100%;
  overflow: scroll;
}
