/* @import "../node_modules/tachyons/css/tachyons.css"; */
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";

.navbar-dropdown.is-boxed {
  z-index: 9999;
  max-height: 200px;
  overflow: scroll;
}
